<p id="notice"><%= notice %></p>

<h1>Listing Templates</h1>

<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Type</th>
      <th>Agenda</th>
      <th>Required</th>
      <th>Optional</th>
      <th>Preparation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.goal %></td>
        <td><%= template.type %></td>
        <td><%= template.agenda %></td>
        <td><%= template.required %></td>
        <td><%= template.optional %></td>
        <td><%= template.preparation %></td>
        <td><%= link_to 'Show', template %></td>
        <td><%= link_to 'Edit', edit_template_path(template) %></td>
        <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template', new_template_path %>
